In [21]:
import pandas as pd
import datetime
from datetime import datetime

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df = pd.read_csv('201908-citibike-tripdata.csv')

In [3]:
# 2. Check the datatypes of your columns. 
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [27]:
# 3. Convert the 'tripduration' column to datetime datatype.
df['tripduration_min'] = pd.to_datetime(df['tripduration'], unit='s')

In [5]:
# 4. Check the datatypes of your columns. 

df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_min           datetime64[ns]
dtype: object


ADDITIONAL CODE

In [6]:
# Extra: Adding age column based on year of date and birth year.
df['age'] = 2019- df['birth year']

In [7]:
# Replacing gender with 0 = unknown, 1= male, 2=female
df = df.replace({'gender' : {0 : 'unknown', 1 : 'male', 2 : 'female'}})

In [8]:
# Organizing columns
df = df[['tripduration','tripduration_min','starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'age', 'gender']]

In [9]:
# Validating DF
df.head()

,tripduration,tripduration_min,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender
0,393,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,40.710762,-73.994004,35305,Subscriber,1996,23,female
1,627,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,40.686744,-73.990632,38822,Subscriber,1998,21,female
2,1132,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,40.682800,-73.999904,18373,Subscriber,1988,31,male
3,1780,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,40.721101,-73.991925,25002,Subscriber,1988,31,male
4,1517,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,40.781721,-73.945940,31198,Subscriber,1965,54,female

In [10]:
# Validating dtypes
df.dtypes

tripduration                        int64
tripduration_min           datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
age                                 int64
gender                             object
dtype: object

In [13]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv('201909-citibike_tripdata_fixed.csv', index = False)

In [28]:
df.head()

,tripduration,tripduration_min,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender
0,393,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,40.710762,-73.994004,35305,Subscriber,1996,23,female
1,627,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,40.686744,-73.990632,38822,Subscriber,1998,21,female
2,1132,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,40.682800,-73.999904,18373,Subscriber,1988,31,male
3,1780,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,40.721101,-73.991925,25002,Subscriber,1988,31,male
4,1517,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,40.781721,-73.945940,31198,Subscriber,1965,54,female